/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 mar 2023, 16:16:59
    Author     : Alfred
*/
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #576787;
    color: #fff;
    padding: 0;
    margin: 0;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #E3DFDF;

}

body div{
    display: block;

}

#div_botones{
    width: 100%;
    margin-top: 5em;
    display: flex;
    gap: 3em;
    justify-content: center;
}



button{
    height: 15em;
    width: 15em;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

button:hover{
    cursor: pointer;
    background-color: #ECECE9;
}

img{
    width: 7em;
    
}

