<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmls:th="http://www.thymeleaf.org">
    <head>
        <title>Cuentas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div th:if="${cuentas != null and !cuentas.empty}">
            <p>hola</p>
            <table border ="2">
                <tr>
                    <th>id cuenta </th>
                    <th>banco </th>
                    <th>número de cuenta </th>
                    <th>Cambiar</th>
                    <th>Borrar </th>
                </tr>    
                <tr th:each="cuenta: ${cuentas}">
                    <td th:text="${cuenta.bankaccountid}"> Muestra id </td> 
                    <td th:text="${cuenta.bank}"> Muestra banco </td>
                    <td th:text="${cuenta.accountnumber}"> Muestra número de cuenta </td>
                    <td> <a th:href="@{/cambiar/} + ${cuenta.bankaccountid}" th:text="Cambiar"/> </td><!-- comment -->
                    <td> <a th:href="@{/borrar/} + ${cuenta.bankaccountid}" th:text="Borrar"/> </td><!-- comment -->

                </tr>
            </table>
        </div>
        <div class="toolbar">
            <button class="menu-btn" onclick="toggleMenu()">Menu</button>
            <h1>Cuentas</h1>
            <button class="agnadir-btn" onclick="toggleMenu()">Añadir cuenta</button>
        </div>

        <div class="abierto">
            <ul class="menu">
                <li><a href="#">Registro Usuarios</a></li>
                <li><a href="#">Contabilidad</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Suscripción</a></li>
                <li class="linea"><a href="#">Información</a></li>
                <li><a href="#">Inicio</a></li>
            </ul>
        </div>
        <div class="content">
            <p>hola que tal</p>
        </div>
        <script>
            function toggleMenu() {
                var menu = document.querySelector('.abierto');
                if (menu.style.display == 'block') {
                    menu.style.display = 'none';
                } else {
                    menu.style.display = 'block';
                }
            }
        </script>
    </body>
</html>
