<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Editar Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- DATATABLES -->
        <!--  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        <link href="/css/estilos_tablas.css" rel="stylesheet" type="text/css" />
        <!-- MODAL -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    </head>
    <body>
        <header th:include="/navbar.html :: header"> </header>
        <!-- Modal -->
        <div class="container mt-1">
            <div class="col-sm-6 mx-auto">

                <!-- Cabecera del modal -->
                <div class="card-header">
                    <h4>Editar Usuario</h4>
                </div>

                <!-- Cuerpo del modal -->
                <div class="card-body">
                    <form th:action="@{/editarusuario}" th:object="${user}" method="post">
                        <input type="hidden" th:field="*{userid}"/>
                        <input type="hidden" th:name="rolInicial" th:value="${rolInicial}"/>
                        <div class="form-group">
                            <label for="username">Nombre Usuario:</label>
                            <input type="text" class="form-control" th:field="*{username}" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Apellido:</label>
                            <input type="text" class="form-control" th:field="*{lastname}" id="lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" th:field="*{email}" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="rol">Seleccione un rol:</label>
                            <div class="d-flex flex-column">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" th:field="*{rol}" value="1" id="rol1" name="rol" required>
                                    <label class="form-check-label" for="rol1">ADMIN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" th:field="*{rol}" value="2" id="rol2" name="rol" required>
                                    <label class="form-check-label" for="rol2">USER</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
