<!DOCTYPE html>
<html>
    <head>
        <title>Eventos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/estilos_tablas.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    </head>
    <body>
        <header th:insert="/navbar.html :: header"> </header>
        <div class="container-fluid">
            <div class="text-end">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Añadir
                </button>
            </div>
            <div th:if="${eventos != null and !eventos.empty}" class="container-fluid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id Evento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha Inicial</th>
                            <th scope="col">Fecha Final</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="evento: ${eventos}">
                            <td th:text="${evento.id}"> Muestra id </td> 
                            <td th:text="${evento.nombre}">Mark</td>
                            <td th:text="${evento.tipo}">Otto</td>
                            <td th:text="${evento.fechaInicio}">@mdo</td>
                            <td th:text="${evento.fechaFin}">a</td>
                            <td>
                                <a th:href="@{/eliminar/}+${evento.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                                <a class="cursor-pointer" th:data-parameter="${evento.id}" onclick="rellenarModal(this.getAttribute('data-parameter'))" data-toggle="modal" data-target="#myModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <!-- Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Cabecera del modal -->
                        <div class="modal-header">
                            <h4 class="modal-title">Título del modal</h4>
                        </div>

                        <!-- Cuerpo del modal -->
                        <div class="modal-body">
                            <form th:action="@{/guardarEvento}" method="post" th:object="${evento}">
                                <input type="hidden" name="id" id="id"/>
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" name="nombre" class="form-control" id="nombre" >
                                </div>
                                <div class="form-group">
                                    <label for="tipo">Tipo:</label>
                                    <input type="text" name="tipo" class="form-control" id="tipo">
                                </div>
                                <div class="form-group">
                                    <label for="fecha-inicial">Fecha Inicial:</label>
                                    <input type="date" name="fechaInicio" class="form-control" id="fecha-inicial">
                                </div>
                                <div class="form-group">
                                    <label for="fecha-final">Fecha Final:</label>
                                    <input type="date" name="fechaFin" class="form-control" id="fecha-final">
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Guardar" class="btn btn-primary"/>
                                    <button type="button" onclick="vaciarModal()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                                </div>
                            </form>
                        </div>

                        <!-- Pie del modal -->


                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            
            <script th:inline="javascript">
                                    
                                    const rellenarModal = (a) => {
                                        let array = [[${eventos}]]
                                        let evento = array.find(p => p.id == a)

                                        var id = document.getElementById("id")
                                        id.value = evento.id
                                        var nombre = document.getElementById("nombre")
                                        nombre.value = evento.nombre
                                        var tipo = document.getElementById("tipo")
                                        tipo.value = evento.tipo
                                        var fechaInicial = document.getElementById("fecha-inicial")
                                        var fechaIni = evento.fechaInicio.split(" ")
                                        fechaInicial.value = fechaIni[0]
                                        console.log(evento.fechaInicio)
                                        var fechaFinal = document.getElementById("fecha-final")
                                        var fechaFin = evento.fechaFin.split(" ")
                                        fechaFinal.value = fechaFin[0]
                                    }
                                    
                                    
            </script>
            
            <script th:inline="javascript">
                const vaciarModal = ()=>{
                                        var id = document.getElementById("id")
                                        id.value = null
                                        var nombre = document.getElementById("nombre")
                                        nombre.value = null
                                        var tipo = document.getElementById("tipo")
                                        tipo.value = null
                                        var fechaInicial = document.getElementById("fecha-inicial")
                                        fechaInicial.value = null
                                        var fechaFinal = document.getElementById("fecha-final")
                                        fechaFinal.value = null
                                    }
            </script>
    </body>
</html>
