
<div th:fragment="header">
    <nav class="navbar" style="background-color: #576787;" >
        <div class="container-fluid">
            <button class="menu-btn" onclick="toggleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="color: white;">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <h4>hola</h4>
            <button class="agnadir-btn">Añadir</button>
        </div>
    </nav>


    <div class="abierto">
        <ul class="menu">
            <li><a href="/registrousers">Registro Usuarios</a></li>
            <li><a href="#">Contabilidad</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="#">Suscripción</a></li>
            <li class="linea"><a href="#">Información</a></li>
            <li><a href="/home">Inicio</a></li>
        </ul>

    </div>
    <script src="/js/menu.js" type="text/javascript"></script>
</div>

